@import "carbone.css";

body {
    line-height: 1.2em;
    font-size: 0.8em;
}

.sheet {
    padding: 15mm;
}

h1 {
    font-family: title-font;
    margin-top: 0;
    text-decoration: none;
    text-align: center;
}

th {
    height: 1em;
}

.talents td {
    border-style: none;
}

.talents td:nth-child(2n+1) {
    border-style: none dotted none none;
    border-color: rgb(138, 138, 138);
}

.talents td:nth-child(2n) {
    border-style: none solid none none;
    width: 2em;
}

.pt-bar {
    position: absolute;
    height: 1.20cm;
    width: 16.72cm;
    top: -0.08cm;
    left: 1.45cm;
}

.pt-slot {
    stroke: var(--black);
    stroke-width: 1px;
    fill: none;
}

.pt-slot:nth-child(2n) {
    fill: var(--grey);
}

.pt-table {
    z-index: 1;
    position: relative;
}

.pt-table th, .pt-table td {
    border: none;
    text-align: center;
    width: 1cm;
    height: 1cm;
    padding: 0;
}

.pt-table th {
    text-align: left;
}